
body {
    background-color: #f5f4f0;
    font-family: Cambria;
    margin: 0;
}

h1 {
    text-align: left;
    font-size: 4rem;
}

h2 {
    font-size: 30px;
    margin-left: 40px;
}

h3 {
    font-size: 27px;
}

p {
    font-size: 1.8rem;
    margin: 5px;
}


div a {
    font-size: 1.5rem;
    color: white;
}

.header {
    position: fixed;
    top: 0px;
    margin: 0px;
    height: 75px;
    width: 100%;   
}

.header-container {
    display: grid;
    grid-template-columns: 80px minmax(250px, 300px) minmax(250px, 300px) minmax(250px, 300px);
    grid-template-rows: 100%;
    background-color: #1f1f1f;
    margin: 0px;
    height: 100%;
    
}

.header-child {
    color:#f5f4f0;
    padding: 10px;
    margin: 10px;
    border: 1px solid wheat;
    border-radius: 15px;
    justify-self: center;
    align-self: center;
}

.title-div {
    background-color:#0aabff;
}

.genius{
    font-weight: bold;
    color: #b91900;
}

.double-border {
    border: 8px double darkolivegreen; 
    margin: 1% 30% 0% 30%;
}

/* Картинки */

.img-header {
    height: 200px;
}


.image {
    float: left;
    width: 50%;
    margin: 1%;
    border-radius: 10px;
    margin-right: 2%;
}

.image-school {
    width: 70%; 
    float: left; 
    
    border-radius: 10px 10px 0 0; /* Левый и правый верхние углы скруглены */

    margin-right: 2%;
}

/* Кнопки */

.say-hello {
    width: 450px;
    height: 125px;
    border-radius: 10px;
    outline: none;
    border: 10px solid #404B69;
    font-size: 2rem;
    padding: 3%;
    text-shadow: 1px 0 #49504e;
    background-image: url("./images/Валакас.jpg");
}

.button-random {
    margin-left: 10%;
}

.faggot {
    width: 100px;
}

/**/

footer {
    text-align: center;
    margin-top: 20px;
}


    /* Grid элемент */

.container-header {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 100px;
    justify-content: center; 
}

.child-header {
    text-align: left; 
    max-height: 100px;
}

.child-header-0 {
    grid-column: span 2;
    grid-row: span 2;
    text-align: left; 
    max-height: 150px;
    max-width: 750px;
    align-self:auto; /* выровняет отдельный элемент по вертикали */
}

.child-header-1 {
    grid-column: span 2;
    max-height: 150px;
    justify-self: center;
    width: 300px;
}

.child-header-2 {
    max-height: 150px;
    justify-self: center;
    width: 200px;
}

.child-header-3 {
    grid-column-start: 3;
    justify-self: center;
}

.container-button {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 200px;
    margin-top: 20px;
    justify-content: center; 
    align-items: center;
}

.child-button {

}

.container-title {
    
    display: inline-grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 2rem;
    align-items: end; /* выравнивание элементов по верт. оси 
                         внутри грид-контейнера              */
    justify-content: center; /* выравние контейнера посередине
                                работает если ширина колонок меньше 100% */
}

.main-title {
    grid-column: span 2; /* объединение 2-х колонок */
    padding: 20px;
    background-color: #cab385;
    border-radius: 10px;
    text-align: justify; /* выравнивание (по горизонтали) 
                            текста внутри элемента       */
}

.container-title_2 { 
    display: flex;
    justify-content: space-evenly; 
    align-items: flex-start; 
    height: 100%;
    width: 100%;
    gap: 1rem;
    margin: 15px;
}

.main-title_2 {
    display: inline-block;
    flex: 1;
    max-width: 400px;
    padding: 20px;
    margin: 5px;
    background-color: #62c48f;
    border-radius: 10px;
    text-align: justify;
}

    /*  @media элемент  */

@media (max-width: 720px) {
    h1 {
        font-size: 22px;
    }

    .child-header-0 > p {
        font-size: 18px;
    }

    .child-header-1 {
        justify-self: center;
        width: 30%;
    }

    .child-header-2 {
        justify-self: right;
        width: 30%;
    }

    .child-header-3 {
        justify-self: right;
        width: 30%;
    }
    
    .container-title {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
    }

    .main-title {
        width: 70%;
        justify-self: center; /* выравнивание по горизонтали 
                                 внутри элемента             */
    }

    .container-title_2 { 
        flex-direction: column;
        align-items: center;
    }

    .image-school{
        width: 70%;
        float:left;
        margin-right: 2%;
    }
}