
body {
    background-color: #f5f4f0;
    font-family: Cambria;
    margin: 0;
}

h1 {
    text-align: left;
    font-size: 4rem;
}

h2 {
    font-size: 30px;
    margin-left: 40px;
}

h3 {
    font-size: 27px;
}

p {
    font-family: "Sansation", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.6rem;
    margin: 5px;
}


div a {
    font-size: 1.5rem;
    color: white;
}

button {
    font-family: "Sansation", sans-serif;
}

.header {
    position: fixed;
    top: 0px;
    margin: 0px;
    height: 75px;
    width: 100%;   
}

.header-container {
    display: grid;
    grid-template-columns: 80px minmax(250px, 300px) minmax(250px, 300px) minmax(250px, 300px);
    grid-template-rows: 100%;
    background-color: #1f1f1f;
    margin: 0px;
    height: 100%;
    
}

.header-child {
    color:#f5f4f0;
    padding: 10px;
    margin: 10px;
    border: 1px solid wheat;
    border-radius: 15px;
    justify-self: center;
    align-self: center;
}

.backgroung-header {
    position: absolute;
    top: 90px;
    left: 50px;
    background-color:#0452b931;
    height: 850px;
    width: 90%;
    z-index: -1;
}

.title-div {
    background-color:#0aabff;
}

.genius{
    font-weight: bold;
    color: #b91900;
}

.double-border {
    border: 8px double darkolivegreen; 
    margin: 1% 30% 0% 30%;
}

.about {
    max-width: 90%;
    margin: 0 auto      /* auto - центрирует элемент по краям */
}

.teachers {
    max-width: 90%;
    margin: 0 auto 
}

/* Табы */

.preview {
    max-width: 90%;
    height: 70vh;
    margin: 10px auto;
}

.container-tab {
    display: flex;
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
}

.tabcontainer {
    display: flex;
    margin-bottom: auto;
    flex-direction: column;
}

.tabs__nav {
    margin-left: 4px;
    margin-bottom: -4px;
    margin-left: 0px;
}

.tabheader__item {
    font-size: 1.3rem;
    color: #636363;
    border: solid #b1c0c2 1px;
    border-radius: 0px 5px 0px 0px;
    padding: 7px;
    justify-self: start;
}

.tabheader__item_active {
    font-family: "Sansation", sans-serif;
    font-size: 1.8rem;
    color: #000;
    font-weight: 700
}

.content_1 {
    border-radius: 0px 10px 10px 10px;
    box-shadow: 10px 10px 20px 3px #727272;
    background-color:#b1c0c2;
    padding: 5px;
}

.content_1 ul li {
    font-size: 2rem;
    padding: 4px;
}
/* Картинки */

.img-header {
    height: 200px;
}


.image {
    float: left;
    width: 50%;
    margin: 1%;
    border-radius: 10px;
    margin-right: 2%;
}

.image-school {
    width: 70%; 
    float: left; 
    
    border-radius: 10px 10px 0 0; /* Левый и правый верхние углы скруглены */

    margin-right: 2%;
}

/* Кнопки */

.say-hello {
    width: 450px;
    height: 125px;
    border-radius: 10px;
    outline: none;
    border: 10px solid #404B69;
    font-size: 2rem;
    padding: 3%;
    text-shadow: 1px 0 #49504e;
    background-image: url("./images/Валакас.jpg");
}

.button-random {
    margin-left: 10%;
}

.faggot {
    width: 200px;
    height: 70px;
    font-size: 2rem;
    border-radius: 7px;
    box-shadow: 10px 10px 20px 3px rgba(0, 0, 0, .25);
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }

/**/

footer {
    text-align: center;
    margin-top: 20px;
}


    /* Grid элемент */

.container-header {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 100px;
    justify-content: center; 
}

.child-header {
    text-align: left; 
    max-height: 100px;
}

.child-header-0 {
    grid-column: span 2;
    grid-row: span 2;
    text-align: left; 
    max-height: 150px;
    max-width: 750px;
    align-self:auto; /* выровняет отдельный элемент по вертикали */
}

.child-header-1 {
    grid-column: span 2;
    max-height: 150px;
    justify-self: center;
    width: 300px;
}

.child-header-2 {
    max-height: 150px;
    justify-self: center;
    width: 200px;
}

.child-header-3 {
    grid-column-start: 3;
    justify-self: center;
}

.container-button {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 200px;
    margin-top: 20px;
    justify-content: center; 
    align-items: center;
}


.container-title {
    
    display: inline-grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 2rem;
    align-items: end;   /* выравнивание элементов по верт. оси 
                           внутри грид-контейнера              */
    justify-content: center; /* выравние контейнера посередине
                                работает если ширина колонок меньше 100% */
}

.content {
    grid-column: span 2;    /* объединение 2-х колонок */
    padding: 20px;
    background-color: #cab385;
    border-radius: 10px;
    text-align: justify;    /* выравнивание (по горизонтали) 
                               текста внутри элемента       */
    box-shadow: 5px 4px 20px rgba(0, 0, 0, .25)     /*  Тень объекта  */
}

.container-teachers { 
    display: flex;
    justify-content: space-evenly; 
    align-items: flex-start; 
    height: 100%;
    width: 100%;
    gap: 1rem;
    margin: 15px;
}

.content_2 {
    display: inline-block;
    flex: 1;
    max-width: 400px;
    padding: 20px;
    margin: 5px;
    background-color: #62c48f;
    border-radius: 10px;
    text-align: justify;
    box-shadow: 10px 10px 20px 3px rgba(0, 0, 0, .25)
}

.container .button-random {
    display: flex;
    justify-content: center;
    align-items: center;
}


    /*  Модальное окно   */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color:rgba(0,0,0,.5)
}

.modal_dialog {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;    
    align-items: center;
    margin: auto
}

.modal_content {

    position: relative;
    min-width: 30%;
    padding: 40px;
    background-color:#fff;
    border:1px solid rgba(0,0,0,.2);
    border-radius: 7px;
    height: 5%;
    width: 10%;
    overflow-y: auto
}

.modal_close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color:#000;
    opacity: .5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer
}

.modal_notification {
    text-align: center;
    font-size: 1.5rem;
}

    /*  @media элемент  */

@media (max-width: 720px) {
    h1 {
        font-size: 22px;
    }

    .child-header-0 > p {
        font-size: 18px;
    }

    .child-header-1 {
        justify-self: center;
        width: 30%;
    }

    .child-header-2 {
        justify-self: right;
        width: 30%;
    }

    .child-header-3 {
        justify-self: right;
        width: 30%;
    }
    
    .container-title {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
    }

    .main-title {
        width: 70%;
        justify-self: center; /* выравнивание по горизонтали 
                                 внутри элемента             */
    }

    .container-teachers { 
        flex-direction: column;
        align-items: center;
    }

    .image-school{
        width: 70%;
        float:left;
        margin-right: 2%;
    }
}
