
body {
    background-color: #e2d9aa;
    font-family: Cambria;
}

h1 {
    text-align: center;
    font-size: 38px;
}

h2 {
    font-size: 30px;
    border: 1px solid red;
    margin-left: 40px;
}

h3 {
    font-size: 27px;
}

p {
    font-size: 1.7rem;
    margin: 5px;
}

.genius{
    font-weight: bold;
    color: #b91900;
}

.double {
    border: 8px double darkolivegreen; 
    margin-left: 30%;
    margin-right: 30%;
}


.image {
    float: left;
    width: 50%;
    margin: 1%;
    border-radius: 10px;
    margin-right: 2%;
}

.image-school {
    width: 100%; 
    float: none; 
    border-radius: 10px 10px 0 0; /* Левый и правый верхние углы скруглены */
    margin: 0;
}

footer {
    text-align: center;
    margin-top: 20px;
}


    /* Flexbox элемент */

.container-title {
    
    display: flex;
    justify-content: space-evenly; /* выравнивание элементов внутри контейнера по горизонтали */
    align-items: flex-start; /* выравнивание элементов внутри контейнера по вертикали */
    height: 100%; /* высота контейнера */
    width: 100%; /* ширина контейнера */
    gap: 1rem;

}
.main-title {
    flex: 1;
    max-width: 800px; /* макс. ширина элемента контейнера */
    padding: 0px;
    background-color: #cab385;
    border-radius: 10px;
    text-align: justify; /* выравнивание текста внутри элемента */
}

.container-title_2 { 
    display: flex;
    justify-content: space-evenly; 
    align-items: flex-start; 
    height: 100%;
    width: 100%;
    gap: 1rem;
    margin: 15px;
}

.main-title_2 {
    flex: 1;
    max-width: 400px;
    padding: 20px;
    background-color: #62c48f;
    border-radius: 10px;
    text-align: justify;
}

    /*  @media элемент  */

@media (max-width: 720px) {
    h1 {
        font-size: 22px;
    }

    
    .container-title {
        flex-direction: column;
    }

    .container-title_2 { 
        flex-direction: column;
    }

    .image-school{
        width: 70%;
        float:left;
        margin-right: 2%;
    }
}